In [1]:
from sunpy.net import Fido, attrs as a
from pprint import pprint
import pandas as pd
import json

import numpy as np
from sunpy.time import parse_time
from sunpy.timeseries import TimeSeries
from astropy import units as u
from matplotlib import pyplot as plt

c:\Users\James\Documents\code\flare_finder\venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Flare List

In [2]:
start_date = '2013-11-09 05:00'
end_date = '2013-11-09 07:00'

start_date = '2013-11-08'
end_date = '2013-11-09'

hek_result = Fido.search(
    a.Time(start_date, end_date),
    a.hek.EventType('FL'),
    # a.hek.FL.GOESCls > 'C2.5'
)

In [3]:
flare_list = hek_result[0][
    'event_starttime',
    'event_peaktime',
    'event_endtime',
    'fl_goescls',
    'hpc_x',
    'hpc_y',
    'obs_instrument'
]

In [4]:
flare_list_df = flare_list.to_pandas()

In [5]:
# Load JSON data
with open('2013-11-08.json', 'r') as f:
    data = json.load(f)

hek_df = pd.DataFrame(data['result'])

In [6]:
hek_df = hek_df[[
    'event_starttime',
    'event_peaktime',
    'event_endtime',
    'fl_goescls',
    'hpc_x',
    'hpc_y',
    'obs_instrument'
]]

In [7]:
all(flare_list_df == hek_df)

True

In [8]:
# flare_list_df.groupby('event_peaktime').filter(lambda x: len(x) > 1)
flare_list_df.groupby('obs_instrument')['obs_instrument'].count()
flare_list_df

,event_starttime,event_peaktime,event_endtime,fl_goescls,hpc_x,hpc_y,obs_instrument
0,2013-11-08 01:21:46,2013-11-08 01:23:46,2013-11-08 01:26:34,,-268.8000,-268.800000,AIA
1,2013-11-08 01:22:00,2013-11-08 01:23:36,2013-11-08 01:26:24,,-268.8000,-268.800000,AIA
2,2013-11-08 01:22:49,2013-11-08 01:23:49,2013-11-08 01:26:25,,-268.8000,-268.800000,AIA
3,2013-11-08 01:22:55,2013-11-08 01:24:19,2013-11-08 01:25:55,,-268.8000,-268.800000,AIA
4,2013-11-08 01:22:56,2013-11-08 01:23:44,2013-11-08 01:26:20,,-268.8000,-268.800000,AIA
...,...,...,...,...,...,...,...
60,2013-11-08 23:51:00,2013-11-09 01:44:36,2013-11-09 02:55:36,,-38.4000,-268.800000,AIA
61,2013-11-08 23:51:07,2013-11-08 23:51:19,2013-11-08 23:53:43,,-38.4000,-268.800000,AIA
62,2013-11-08 23:54:58,2013-11-08 23:56:58,2013-11-08 23:58:10,,-38.4000,-268.800000,AIA
63,2013-11-09 00:00:00,2013-11-09 00:19:00,2013-11-09 00:36:00,C1.7,-930.0801,-268.354236,AIA
64,2013-11-09 00:00:00,2013-11-09 00:19:00,2013-11-09 00:36:00,C1.7,0.0000,-59.902380,GOES

In [9]:
flare_list_df = flare_list_df[flare_list_df['obs_instrument'] != "GOES"].drop('obs_instrument', axis=1)
flare_list_df

,event_starttime,event_peaktime,event_endtime,fl_goescls,hpc_x,hpc_y
0,2013-11-08 01:21:46,2013-11-08 01:23:46,2013-11-08 01:26:34,,-268.800000,-268.800000
1,2013-11-08 01:22:00,2013-11-08 01:23:36,2013-11-08 01:26:24,,-268.800000,-268.800000
2,2013-11-08 01:22:49,2013-11-08 01:23:49,2013-11-08 01:26:25,,-268.800000,-268.800000
3,2013-11-08 01:22:55,2013-11-08 01:24:19,2013-11-08 01:25:55,,-268.800000,-268.800000
4,2013-11-08 01:22:56,2013-11-08 01:23:44,2013-11-08 01:26:20,,-268.800000,-268.800000
5,2013-11-08 02:10:22,2013-11-08 02:11:46,2013-11-08 02:14:22,,422.400000,-345.600000
6,2013-11-08 02:33:00,2013-11-08 02:40:00,2013-11-08 02:46:00,C5.7,377.979150,-337.288302
8,2013-11-08 02:34:34,2013-11-08 02:40:46,2013-11-08 02:51:46,,422.400000,-345.600000
9,2013-11-08 02:35:00,2013-11-08 02:44:24,2013-11-08 03:00:24,,345.600000,-345.600000
10,2013-11-08 02:35:07,2013-11-08 02:41:55,2013-11-08 03:00:19,,345.600000,-345.600000
11,2013-11-08 02:35:13,2013-11-08 02:44:25,2013-11-08 03:00:37,,345.600000,-345.600000
12,2013-11-08 02:37:02,2013-11-08 02:42:14,2013-11-08 03:03:14,,422.400000,-345.600000
13,2013-11-08 03:22:00,2013-11-08 03:23:12,2013-11-08 03:26:24,,422.400000,-345.600000
15,2013-11-08 04:20:00,2013-11-08 04:26:00,2013-11-08 04:29:00,X1.1,-213.079752,-276.544380
16,2013-11-08 04:21:22,2013-11-08 04:27:10,2013-11-08 04:38:22,,-192.000000,-268.800000
17,2013-11-08 04:23:19,2013-11-08 04:24:43,2013-11-08 04:39:55,,-192.000000,-268.800000
18,2013-11-08 04:23:24,2013-11-08 04:24:48,2013-11-08 04:40:00,,-268.800000,-268.800000
19,2013-11-08 04:23:25,2013-11-08 04:29:37,2013-11-08 04:40:01,,-268.800000,-268.800000
20,2013-11-08 04:23:32,2013-11-08 04:24:44,2013-11-08 04:36:44,,-268.800000,-268.800000
21,2013-11-08 04:23:38,2013-11-08 04:28:26,2013-11-08 04:37:14,,-268.800000,-268.800000
22,2013-11-08 04:23:40,2013-11-08 04:29:04,2013-11-08 04:37:28,,-268.800000,-268.800000
23,2013-11-08 04:24:43,2013-11-08 04:25:31,2013-11-08 04:27:07,,-192.000000,-576.000000
24,2013-11-08 05:10:10,2013-11-08 05:10:58,2013-11-08 05:14:34,,652.800000,345.600000
25,2013-11-08 05:21:10,2013-11-08 05:22:34,2013-11-08 05:32:10,,-115.200000,-268.800000
26,2013-11-08 06:18:58,2013-11-08 06:20:10,2013-11-08 06:21:58,,-115.200000,-268.800000
27,2013-11-08 06:41:22,2013-11-08 06:43:58,2013-11-08 06:47:34,,-115.200000,-268.800000
28,2013-11-08 07:11:34,2013-11-08 07:11:46,2013-11-08 07:14:10,,-115.200000,-268.800000
30,2013-11-08 07:38:00,2013-11-08 07:57:00,2013-11-08 08:18:00,C1.4,450.477258,-334.635270
31,2013-11-08 07:54:22,2013-11-08 07:58:58,2013-11-08 08:03:34,,422.400000,38.400000
32,2013-11-08 08:29:07,2013-11-08 08:29:31,2013-11-08 08:33:43,,422.400000,-345.600000
33,2013-11-08 08:29:13,2013-11-08 08:29:37,2013-11-08 08:33:13,,422.400000,-345.600000
34,2013-11-08 09:19:36,2013-11-08 09:27:36,2013-11-08 09:34:48,,422.400000,-345.600000
35,2013-11-08 09:22:00,2013-11-08 09:28:00,2013-11-08 09:31:00,M2.3,450.485496,-334.531272
37,2013-11-08 09:22:58,2013-11-08 09:29:10,2013-11-08 09:33:10,,499.200000,-345.600000
38,2013-11-08 09:24:49,2013-11-08 09:30:25,2013-11-08 09:34:25,,422.400000,-345.600000
39,2013-11-08 09:24:55,2013-11-08 09:28:19,2013-11-08 09:34:43,,422.400000,-345.600000
40,2013-11-08 09:25:08,2013-11-08 09:27:32,2013-11-08 09:31:56,,422.400000,-345.600000
41,2013-11-08 09:25:16,2013-11-08 09:30:28,2013-11-08 09:34:28,,422.400000,-345.600000
42,2013-11-08 09:25:50,2013-11-08 09:30:02,2013-11-08 09:34:50,,422.400000,-345.600000
43,2013-11-08 09:42:10,2013-11-08 09:42:58,2013-11-08 09:44:22,,422.400000,38.400000
44,2013-11-08 18:16:00,2013-11-08 18:21:00,2013-11-08 18:27:00,C1.1,751.138020,315.688992
46,2013-11-08 18:16:58,2013-11-08 18:21:22,2013-11-08 18:26:34,,729.600000,345.600000
47,2013-11-08 18:17:12,2013-11-08 18:18:00,2013-11-08 18:19:24,,729.600000,345.600000
48,2013-11-08 18:17:13,2013-11-08 18:18:01,2013-11-08 18:19:49,,729.600000,345.600000
49,2013-11-08 18:17:19,2013-11-08 18:18:07,2013-11-08 18:20:31,,729.600000,345.600000
50,2013-11-08 18:33:46,2013-11-08 22:39:34,2013-11-08 22:58:22,,-38.400000,-268.800000
51,2013-11-08 19:37:22,2013-11-08 19:38:22,2013-11-08 19:42:22,,729.600000,345.600000
52,2013-11-08 21:03:46,2013-11-08 21:04:34,2013-11-08 21:08:10,,-960.000000,-345.600000
53,2013-11-08 22:36:00,2013-11-08 22:39:00,2013-11-08 22:41:00,B9.5,33.196860,-260.455410
55,2013-11-08 22:36:55,2013-11-08 22:39:19,2013-11-08 22:46:31,,38.400000,-268.800000
56,2013-11-08 22:37:01,2013-11-08 22:39:13,2013-11-08 22:47:25,,38.400000,-268.800000
57,2013-11-08 23:07:22,2013-11-08 23:07:46,2013-11-08 23:09:46,,38.400000,-268.800000
58,2013-11-08 23:19:46,2013-11-08 23:20:34,2013-11-08 23:23:10,,38.400000,-268.800000
59,2013-11-08 23:40:46,2013-11-08 23:40:58,2013-11-08 23:44:10,,576.000000,-345.600000
60,2013-11-08 23:51:00,2013-11-09 01:44:36,2013-11-09 02:55:36,,-38.400000,-268.800000
61,2013-11-08 23:51:07,2013-11-08 23:51:19,2013-11-08 23:53:43,,-38.400000,-268.800000
62,2013-11-08 23:54:58,2013-11-08 23:56:58,2013-11-08 23:58:10,,-38.400000,-268.800000
63,2013-11-09 00:00:00,2013-11-09 00:19:00,2013-11-09 00:36:00,C1.7,-930.080100,-268.354236

# RHESSI Observed Stats

In [2]:
flare_start, flare_peak, flare_end = '2013-11-09 06:22', '2013-11-09 06:38', '2013-11-09 06:47'
debug = False

# Convert input times to Time objects
flare_start = parse_time(flare_start)
flare_peak = parse_time(flare_peak)
flare_end = parse_time(flare_end)

# Handling case where flare_start equals flare_peak
if flare_start == flare_peak:
    flare_start -= 60 * u.s  # Subtract 1 min from flare_start

# Handling case where flare_peak equals flare_end
if flare_peak == flare_end:
    flare_end += 60 * u.s  # Add 1 min to flare_end

# Handling malformed time sequence
if not (flare_start < flare_peak < flare_end):
    out = {
        "rsi_observed": -1,
        "rsi_flare_triggered": -1,
        "rsi_frac_obs": -1.0,
        "rsi_frac_obs_rise": -1.0,
        "rsi_frac_obs_fall": -1.0
    }

# Create time range
time_range = [flare_start.iso, flare_end.iso]
that_day = [flare_start.strftime('%Y-%m-%d'), flare_end.strftime('%Y-%m-%d') + " 23:59:59"]

# Query RHESSI data for the given time range
query = Fido.search(a.Time(time_range[0], time_range[1]), a.Instrument.rhessi)
if not query:
    out = {
        "rsi_observed": 0,
        "rsi_flare_triggered": 0,
        "rsi_frac_obs": 0.0,
        "rsi_frac_obs_rise": 0.0,
        "rsi_frac_obs_fall": 0.0
    }

result = Fido.fetch(query)
print(result)

Files Downloaded: 100%|██████████| 3/3 [00:00<00:00,  3.83file/s]

['C:\\Users\\James\\sunpy\\data\\hsi_obssumm_20131109_058.fits', 'C:\\Users\\James\\sunpy\\data\\hsi_20131109_055200_002.fits', 'C:\\Users\\James\\sunpy\\data\\hsi_20131109_063820_002.fits']

In [19]:
hsi_data = TimeSeries(result[0]).to_dataframe()
hsi_data.keys()

Index(['3 - 6 keV', '6 - 12 keV', '12 - 25 keV', '25 - 50 keV', '50 - 100 keV',
       '100 - 300 keV', '300 - 800 keV', '800 - 7000 keV', '7000 - 20000 keV'],
      dtype='object')

In [12]:
# Check if RHESSI observed during flare
rsi_observed = np.any(hsi_data != 0)

# Plots for debugging
if debug:
    TimeSeries(result).plot()

if rsi_observed:
    # Assume flags are represented in the data (e.g. "FLARE_FLAG", "ECLIPSE_FLAG")
    flare_flag = np.array(hsi_data['flare_flag'])
    saa_flag = np.array(hsi_data['saa_flag'])
    eclipse_flag = np.array(hsi_data['eclipse_flag'])
    observed_flag = ~(saa_flag | eclipse_flag)

    # Plots for debugging flags
    if debug:
        plt.plot(observed_flag)
        plt.ylim([-0.1, 1.1])
        plt.show()

    # Calculate statistics
    total_elements = len(observed_flag)
    elements_to_flare_peak = int((flare_peak - flare_start).to(u.s).value / hsi_data.time_intv)

    if verbose:
        print(f"Flare Start: {flare_start}")
        print(f"Flare Peak: {flare_peak}")
        print(f"Flare End: {flare_end}")
        print(f"Elements to flare peak: {elements_to_flare_peak}")
        print(f"Total Number of Elements: {total_elements}")

    rsi_flare_triggered = np.any(flare_flag != 0)
    rsi_frac_obs = np.sum(observed_flag) / total_elements
    rsi_frac_obs_rise = np.sum(observed_flag[:elements_to_flare_peak]) / elements_to_flare_peak
    rsi_frac_obs_fall = np.sum(observed_flag[elements_to_flare_peak:]) / (total_elements - elements_to_flare_peak)

else:
    rsi_flare_triggered = 0
    rsi_frac_obs = 0.0
    rsi_frac_obs_rise = 0.0
    rsi_frac_obs_fall = 0.0

out = {
    "rsi_observed": int(rsi_observed),
    "rsi_flare_triggered": int(rsi_flare_triggered),
    "rsi_frac_obs": rsi_frac_obs,
    "rsi_frac_obs_rise": rsi_frac_obs_rise,
    "rsi_frac_obs_fall": rsi_frac_obs_fall
}

KeyError: 'flare_flag'

In [145]:
import sunpy.io
from sunpy.net import Fido, attrs as a
from sunpy.timeseries import TimeSeries
from sunpy.time import parse_time
import astropy.io.fits
import pandas as pd

In [324]:
# flare_start, flare_peak, flare_end = '2013-11-09 06:22', '2013-11-09 06:38', '2013-11-09 06:47'
flare_start, flare_peak, flare_end = '2013-11-09 11:59', '2013-11-09 12:50', '2013-11-09 13:48'

# Convert input times to Time objects
flare_start = parse_time(flare_start)
flare_peak = parse_time(flare_peak)
flare_end = parse_time(flare_end)

# Create time range
time_range = [flare_start.iso, flare_end.iso]


# Download RHESSI data using Fido (if you don't already have the data)
# This searches for RHESSI observation data on a specific date
result = Fido.search(a.Time(time_range[0], time_range[1]), a.Instrument.rhessi)
downloaded_files = Fido.fetch(result)

AttributeError: 'numpy.ndarray' object has no attribute 'Time'

In [328]:
countrate_data = TimeSeries(downloaded_files[0]).to_dataframe()

# Open the RHESSI FITS file using astropy.io.fits
with astropy.io.fits.open(downloaded_files[0]) as hdulist:
    flag_info = hdulist['HSI_OBSSUMMFLAGINFO'].data
    flag_names = np.array([s.strip().lower() for s in flag_info['FLAG_IDS'][0]])
    flag_data = hdulist['HSI_OBSSUMMFLAGDATA'].data['flags']
    flag_df = pd.DataFrame(flag_data, columns=flag_names)
    flag_df['datetime'] = countrate_data.index


df = flag_df[['datetime', 'saa_flag', 'eclipse_flag', 'flare_flag']]

flags_during_flare = df[(df['datetime'] > time_range[0]) & (df['datetime'] < time_range[1])]

# flags_during_flare[flags_during_flare['saa_flag'] == 1]
flags_during_flare[flags_during_flare['eclipse_flag'] == 1]
flags_during_flare

                 datetime  saa_flag  eclipse_flag  flare_flag
10786 2013-11-09 11:59:04         0             1           0
10787 2013-11-09 11:59:08         0             1           0
10788 2013-11-09 11:59:12         0             1           0
10789 2013-11-09 11:59:16         0             1           0
10790 2013-11-09 11:59:20         0             1           0
...                   ...       ...           ...         ...
12415 2013-11-09 13:47:40         0             1           0
12416 2013-11-09 13:47:44         0             1           0
12417 2013-11-09 13:47:48         0             1           0
12418 2013-11-09 13:47:52         0             1           0
12419 2013-11-09 13:47:56         0             1           0

[1634 rows x 4 columns]

In [344]:
# Creating the DataFrame
data = {
    "datetime": [
        "2013-11-09 11:59:04",
        "2013-11-09 11:59:08",
        "2013-11-09 11:59:12",
        "2013-11-09 11:59:16",
    ],
    "saa_flag": [0, 1, 0, 1],
    "eclipse_flag": [0, 0, 1, 1],
}

df = pd.DataFrame(data)
# Convert flags to boolean
df['saa_flag'] = df['saa_flag'].astype(bool)
df['eclipse_flag'] = df['eclipse_flag'].astype(bool)

# Converting 'datetime' to datetime type
df['datetime'] = pd.to_datetime(df['datetime'])

df['observable'] = ~(df['saa_flag'] | df['eclipse_flag'])
df

             datetime  saa_flag  eclipse_flag  observable
0 2013-11-09 11:59:04     False         False        True
1 2013-11-09 11:59:08      True         False       False
2 2013-11-09 11:59:12     False          True       False
3 2013-11-09 11:59:16      True          True       False

In [175]:
a = np.array(
    [
        [1, 0, 0, 123],
        [0, 1, 0, 456],
        [1, 1, 0, 789],
        [0, 0, 1, 102],
    ]
)

b = np.array(['SAA_FLAG', 'ECLIPSE_FLAG', 'FLARE_FLAG', 'IDPU_CONTROL',
            'CRYOCOOLER_POWER', 'COLD_PLATE_TEMP', 'FRONT_RATIO_1225',
            'COLD_PLATE_SUPPLY', 'HV28_SUPPLY', 'ACTUATOR_SUPPLY',
            'FAST_HOUSEKEEPING', 'SC_TRANSMITTER', 'SC_IN_SUNLIGHT',
            'SSR_STATE', 'ATTENUATOR_STATE', 'FRONT_RATIO',
            'POSSIBLE_FLARE', 'GAP_FLAG', 'DECIMATION_ENERGY',
            'DECIMATION_WEIGHT', 'MAX_DET_VS_TOT', 'NMZ_FLAG',
            'SMZ_FLAG', 'AAZ_FLAG', 'PARTICLE_FLAG', 'REAR_DEC_CHAN/128',
            'PARTSTORM', 'HLAT', 'ECLIPSE_EXT', 'REAR_DEC_WEIGHT',
            'FRONTS_OFF', 'BAD_PACKETS'], dtype='<U80')



df = pd.DataFrame(a[:, :3], columns=b[:3])
df

   SAA_FLAG  ECLIPSE_FLAG  FLARE_FLAG
0         1             0           0
1         0             1           0
2         1             1           0
3         0             0           1

In [88]:
# for i in header.keys():
#     print(f"{i}: {header[i]}")

pprint(primary)

# pprint(flag_info)
# pprint(flag_data)

None